discord.py[voice]==2.7.1
supertonic==1.3.1
python-dotenv>=1.0,<2
imageio-ffmpeg>=0.6,<0.7
numpy==1.26.4
transformers==4.57.3
tokenizers>=0.22,<0.24
accelerate==1.12.0
uroman==1.3.1.1
soundfile>=0.12,<1
qwen-tts==0.1.1
qwen3-tts-triton @ git+https://github.com/newgrit1004/qwen3-tts-triton.git@c64873e6a792d4dabc7ae592933fefd740ff4d5f ; platform_system == "Linux"
faster-qwen3-tts @ git+https://github.com/andimarafioti/faster-qwen3-tts.git@a70afc0f81f7f5f8801c3227968f1102f43f211c
